.viewer {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;

  .caption {
    position: absolute;
    bottom: 2.85rem;
    left: 1rem;
    right: 1rem;

    h2 {
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    p {
      color: rgba(255, 255, 255, 0.5);
      // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }

  .image {
    transition: opacity 0.5s ease-in-out;
  }

  .controls {
    height: 100vh;
    z-index: 9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .nav-next,
    .nav-prev {
      -webkit-tap-highlight-color: transparent;
      position: absolute;
      top: 50%;
      width: 6em;
      height: 6em;
      margin-top: -3em;
      background-image: url("./../../assets/images/arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }

    .nav-prev {
      transform: scaleX(-1);
      left: 0;
    }

    .nav-next {
      right: 0;
    }
  }
}
